<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}
{% block content %}
  <section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas fa-sign-in-alt"></i>Login</h4>
                    </div>
                    <div class="card-body">
  {% include "../subtemplate/form.html" %}
    </div>
      </div>
      </div>
      </div>
    </div>
</section> 
{% endblock %}
